	.group:after {
	 	  content: "";
  display: table;
  clear: both;
 	}

.messages-table {
	border-collapse:collapse;
	background-color:#f0f0f0;
}

.messages-table td {
	font-size:12px;
	padding:3px;
}

.messages-table th {
	background-color:#ccc;
	color:#888;
	text-align:left;
	font-size:12px;
}

textarea.content_edit {
	width:100%;
	height:64px;
}

.heading button {
	margin-bottom:4px;
	display:block;
	color:#222;
			  -webkit-border-radius:3px;
	 	-moz-border-radius:3px;
	 	border-radius:3px;
	 	border:none;
}


.heading .edit-button {
	background-color:#9ce49c;
}

.heading .save-button {
	display:none;
	background-color:#9ce49c;
}

.heading .cancel-button {
	display:none;
	background-color:#b0aa46;
}

.heading .delete-button {
	background-color:#d00000;
	 	color:white;
}

.heading.deleting {
	background-color:#c6c4c4;
}


.editing td {
	background-color:#ddfbb7;
}

.filters, fieldset {
	margin:0;
	padding:8px;
	background-color: #e5e1cb;
    border: 1px solid #8e8c7e;
    -webkit-border-radius: 8px;
	 	-moz-border-radius: 8px;
	 	border-radius: 8px;
}

.checkboxes {
	margin-bottom:12px;
	margin-top:8px;
}

.checkboxes input[type="checkbox"] {
	margin-left:24px;
	
}

td.date_td {
	width:80px;
}

td.date_td input {
	width:100%;
}


.mssg-from-to {
	width:120px;
}

.mssg-from-to div {
	font-size:11px;
}

.mssg-from-to .mssg-from {
	color:#8395e7;
}

.mssg-from-to .mssg-to {
	color:#ec7e47;
}


.go-button {
		font-size:14px;
		background:none;
		background-color:#2a960f;
		color:white;
		padding:8px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		border:2px solid #30eb4c;
		padding:8px 16px;
		text-align:center;
		margin:0;
		cursor:pointer;
		float:right;
	}
	
fieldset {
	margin-bottom:8px;
}

fieldset.added-reminder {
	margin-left:6%;
	padding:8px;
	background-color:#ece6c5;
}


	.messages-table th a img {
			width:16px;
			float:right;
			margin-right:6px;
			margin-top:4px;
		}
		
		